<%- include('./partials/head') %>


<section class="friend-header">
  <a href="/">Terug</a>
</section>

<div class="friend-information">


  <!-- Hier moet de goede person id staan -->
  <img 
  src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>"
  alt="profiel" 
  onerror="this.src='/assets/images/placeholder.jpg'"
  >

  <!-- Hier moet de goede person id staan -->
  <h1>
    <%= person.name %> 
    <%= person.prefix %> 
    <%= person.surname %>
  </h1>
  <p><%= person.bio %></p>

</div>

<div>
<section>
  <h2>Over mij</h2>
  <ul>
    <li>Leeftijd: 21 jaar</li>
    <li>Squad: 1D</li>
    <li>Woont in: Utrecht</li>
  </ul>
  
  <h2>Socials</h2>
  <ul>
    <li>Instagram</li>
    <li>LinkedIn</li>
    <li>Github</li>
  </ul>
</section>

<section>
<h2>Reacties</h2>
  <div>
    <% if (person.custom.messages && person.custom.messages.length) { %>
      <ol>
        <% person.custom.messages.forEach(message => { %>
          <li><%= message %></li>
        <% }) %>
      </ol>
    <% } else { %>
      <p>Er zijn nog geen reacties.</p>
    <% } %>
  </div>  


<form method="POST" action="/details/<%= person.id %>">
  <textarea name="comment" required></textarea>
  <button type="submit" name="actie" value="verstuur">Verstuur</button>
</form>

</section>
</div>

<div>
  <section>
    <h2>Zie ook</h2>
  </section>
</div>
<!-- <article class="person">
  <header>
    <h1>Hello</h1>
    <p>my name is</p>
  </header>



  <footer></footer>
</article> -->

<%- include('./partials/foot') %>
