<%- include('./partials/head') %>
<section>
<h1>Vrienden <span>(60)</span></h1>

<ul class="profile">
    <% data.forEach(person => {
        if(person.role.includes("member")) { %>
          <li>

            <a href="">
              <img src="<%= person.avatar %>" alt="profiel" id="profile-image" onerror="insertPlaceholder()">
              <p><%= person.name %> <%= person.prefix %> <%= person.surname %></p>
            </a>

            %>
          </li>
        <% }
      }) %>
</ul>
</section>

<%- include('./partials/foot') %>
