<%- include('./partials/head') %>
<section>
  <h1 id="profileCount">Vrienden (0)</h1>

<ul class="profile">
  
    <% data.forEach(person => {
        if(person.role.includes("member")) { %>
          <li>

            <a href="">
              <img src="<%= person.avatar %>" alt="profiel" id="profile-image" onerror="this.onerror=null; this.src='assets/images/placeholder.jpg'">
              <p><%= person.name %> <%= person.prefix %> <%= person.surname %></p>
            </a>

            %>
          </li>
        <% }
      }) %>
</ul>
</section>

<%- include('./partials/foot') %>
