<%- include('./partials/head') %>

<ul>
    <% data.forEach(person => {
        if(person.squad_id === 3 && person.role.includes("member")) { %>
          <li>

            <img src="<%= person.avatar %>" alt="profiel">

            <a href=".">
                <%= person.name %> <%= person.prefix %> <%= person.surname %>
            </a>

            %>
          </li>
        <% }
      }) %>
</ul>

<%- include('./partials/foot') %>
