<%- include('./partials/head') %>

<section class="friend-header">
  <h1 id="friend-count">Vrienden (0)</h1>

</section>

<div class="friend-menu">
<ul class="friend">
  
    <% data.forEach(person => {
        <!-- if(person.role.includes("member")) -->
         { %>
          <li>

            <a href="/person/<%=person.id%>">

              <img 
              src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>"
              alt="profiel" 
              onerror="this.src='/assets/images/placeholder.jpg'"
              >

              <p>
                <%= person.name %> 
                <%= person.prefix %> 
                <%= person.surname %>
              </p>

            </a>

            %>
          </li>
        <% }
      }) %>
</ul>
</section>

<%- include('./partials/foot') %>
